<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smaxd.aphina_02">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ApplicationVk"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trainer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sled"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vihr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matem_game"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HighScores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HowTo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".number"
            android:screenOrientation="portrait" />
        <activity android:name=".pamyat" />
        <activity android:name=".Labirint" />
        <activity android:name=".Assoc" />
        <activity android:name=".number_menu" />
        <activity android:name=".pamyat_menu" />
        <activity android:name=".Sled_menu" />
        <activity android:name=".Vihr_menu" />
        <activity android:name=".Labirint_menu" />
        <activity android:name=".Assoc_menu" />
        <activity android:name=".HowToNumber" />
        <activity android:name=".numberscore" />
        <activity android:name=".labirint_score" />
        <activity android:name=".Howtolab"></activity>
    </application>

</manifest>