<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smaxd.aphina_02">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ApplicationVk"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trainer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trace"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Whirl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Math"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathGame"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <activity
            android:name=".HighScores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HowToMath"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumberTrainer"
            android:screenOrientation="portrait" />
        <activity android:name=".Memory" />
        <activity android:name=".Labirint" />
        <activity android:name=".Assoc" />
        <activity android:name=".NumberMenu" />
        <activity android:name=".MemoryMenu" />
        <activity android:name=".TraceMenu" />
        <activity android:name=".WhirlMenu" />
        <activity android:name=".LabirintMenu" />
        <activity android:name=".AssocMenu" />
        <activity android:name=".HowToNumber" />
        <activity android:name=".NumberScore" />
        <activity android:name=".LabirintScore" />
        <activity android:name=".HowToLabirint" />
        <activity android:name=".WhirlScore" />
        <activity android:name=".HowToWhirl" />
        <activity android:name=".HowToMemory" />
        <activity android:name=".MemoryScore" />
        <activity android:name=".HowToTrace" />
        <activity android:name=".TraceScore" />
        <activity android:name=".AssocScore" />
        <activity android:name=".HowToAssoc" />
        <activity android:name=".MathQuest" />
        <activity android:name=".Statistics" />
    </application>

</manifest>